header{
    height: 60px;
    background-color: rgb(190, 190, 190);
    box-shadow: 1px 1px 5px grey;
    display: flex;
}

.current_value{
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
}

.current_value .pages{
    
}

.current_value .title{
    
}
.controller{
    width: 35vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controller button{
    width: 80px;
    height: 40px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.controller button:hover{
    background-color: #555555;
    color: white;
}

.controller input{
    width: 40px;
    height: 25px;
    text-align: center;
    margin-right: 5px;
    outline: none !important;
    /* border: none !important; */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.confiLi > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 40px;
    /* background-color: green; */
}
.confiLi > ul > li > p {
    width: 80px;
    /* background-color: black; */
    display: block;
} 

.classfication > input {
    width: 150px;
}